body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.index {
 max-width: 600px;
padding: 15px;
    margin: 0 auto;}

.input-group-addon{ min-width: 150px;max-width:150px;}
 #frequency, #compulsary{ min-width: 150px; padding: auto;}

.compulsary, .frequency{
min-width:300px; max-width:300px;
}










